:root {
	--main-color-1: #a6b2de;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: "Raleway", sans-serif;
	background: red;
}


.section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: blanchedalmond;
}

#sidebar {
	visibility: hidden;
	width: 100px;
}

@media (min-width: 600px) {
	#sidebar {
		visibility: visible;
		max-width: 700px;
		min-width: 300px;
		overflow: auto;
	}

	#sidebar-content {
		padding: 80px 50px 30px;
	}

	/* #sidebar:hover, :active, :focus {
	  flex:2
	}  */
}

#toggle-sidebar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.map-element-bottom-left,
.map-element-bottom-right,
.map-element-top-left,
.map-element-top-right {
	pointer-events: none;
	position: absolute;
	z-index: 2
}

.map-element-top-left {
	left: 0;
	top: 0
}

.map-element-top-right {
	right: 0;
	top: 0
}

.map-element-bottom-left {
	bottom: 0;
	left: 0
}

.map-element-bottom-right {
	bottom: 0;
	right: 0
}

.map-element {
	clear: both;
	pointer-events: auto;
	transform: translate(0)
}

.map-element-top-left .map-element {
	float: left;
	margin: 10px 0 0 10px
}

.map-element-top-right .map-element {
	float: right;
	margin: 10px 10px 0 0
}

.map-element-bottom-left .map-element {
	float: left;
	margin: 0 0 10px 10px
}

.map-element-bottom-right .map-element {
	float: right;
	margin: 0 10px 10px 0
}

.map-element-group {
	background: #fff;
	border-radius: 4px
}

.map-element-group:not(:empty) {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, .1)
}

@media (-ms-high-contrast:active) {
	.map-element-group:not(:empty) {
		box-shadow: 0 0 0 2px;
	}
}

.map-element-group button {
	background-color: transparent;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 29px;
	outline: none;
	overflow: hidden;
	padding: 0;
	width: 29px
}

.map-element-group button+button {
	border-top: 1px solid #ddd
}

.map-element button .map-element-icon {
	background-position: 50%;
	background-repeat: no-repeat;
	display: block;
	height: 100%;
	width: 100%
}

@media (-ms-high-contrast:active) {
	.map-element-icon {
		background-color: transparent
	}

	.map-element-group button+button {
		border-top: 1px solid;
	}
}

.map-element-attrib-button:focus,
.map-element-group button:focus {
	box-shadow: 0 0 2px 2px #0096ff
}

.map-element button:disabled {
	cursor: not-allowed
}

.map-element button:disabled .map-element-icon {
	opacity: .25
}

.map-element-group button:first-child {
	border-radius: 4px 4px 0 0
}

.map-element-group button:last-child {
	border-radius: 0 0 4px 4px
}

.map-element-group button:only-child {
	border-radius: inherit
}

.map-element button:not(:disabled):hover {
	background-color: rgb(0 0 0/5%)
}

.map-element-group button:focus:focus-visible {
	box-shadow: 0 0 2px 2px #0096ff
}

.map-element-group button:focus:not(:focus-visible) {
	box-shadow: none
}


#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: url("https://cdn.glitch.com/9c785c08-7e0a-4245-ba71-af9b62f8eca4%2Fpopup.png?v=1588359473867");
	background-size: 100% 100%;
	overflow: visible;
}

.mapboxgl-popup-content {
	background: none;
	box-shadow: none;
	text-align: center;
	padding: 30px 40px 40px 40px;
	color: black !important;
}

.mapbox-control-styles-button {
	width: 56px !important;
}

.map-element-marker-button {
	width: 56px !important;
}

.mapboxgl-popup-tip {
	display: none;
}

.active {
	background-color: #e0dfdf !important;
}

.disabled {
	visibility: hidden !important;
	width: 0 !important;
}

.mapboxgl-popup-close-button {
	top: 10%;
	right: 10%;
}

.mapbox-control-ruler .-active {
	background-color: var(--main-color-1) !important;
}